html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	line-height: 1.4em;
}

h1 {
	margin-top: 2.5rem;
	padding: 0.3rem 0.6rem;
	background-color: #e1007a;
	color: white;
	font-weight: normal;
}

li {
	padding: 0.3em 0;
}

#page-main {
	max-width: 40rem;
	margin: 3rem auto;
}

#page-video {
	width: 100%;
	height: 100%;
}

.navigation-menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	z-index: 10;
	background-color: #e1007a;
}
.navigation-menu ul {
	max-width: 40rem;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	list-style-position: outside;
}
.navigation-menu ul li {
	display: inline-block;
	padding: 0;
}
.navigation-menu ul li:first-of-type {
	margin-left: -0.5rem;
}
.navigation-menu a {
	display: block;
	padding: 0.7rem 0.5rem;
	color: white;
	text-decoration: none;
	transition: background-color 0.2s;
}
.navigation-menu a:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

#channel-menu {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#channel-menu .channel {
	width: 7.5rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0.6rem 1.2rem;
	transition: padding 0.1s, box-shadow 0.2s;
	color: grey;
	text-decoration: none;
	text-align: center;
	font-size: 0.8rem;
}
#channel-menu .channel:hover {
	box-shadow: 2px 2px 10px #909090;
	padding-top: 0.5rem;
	padding-bottom: 0.7rem;
}
#channel-menu .channel img {
	width: 100%;
}

.video-js {
	height: 100%;
	width: 100%;
	background-color: white;
}
.vjs-poster {
	background-color: initial;
	margin: 1rem;
}
.vjs-big-play-button {
	display: none;
}
